@use '../../style/variables.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400');


body {
  background: variables.$ui-background;
  color: variables.$ui-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

::selection {
  background: #03b44c;
  color: #ffffff;
}

.app-container {
  max-width: variables.$content-max-width;
  margin: 0 auto;
  box-sizing: border-box;

  @include variables.breakpoint(mobile) {
    padding: variables.$padding-mobile-y variables.$padding-mobile-x;
  }

  @include variables.breakpoint(tablet) {
    padding: variables.$padding-tablet-y variables.$padding-tablet-x;
  }

  @include variables.breakpoint(desktop) {
    padding: variables.$padding-desktop-y variables.$padding-desktop-x;
  }
}

// Styling for the 'Fork me on GitHub' ribbon
.github-fork-ribbon {
  transition: visibility 0s linear 0s, opacity 0.15s ease-in;

  &::before {
    background-color: #333;
  }

  &::after {
    font-family: inherit;
    font-weight: 600;
  }
}

// Hide the 'Fork me on GitHub' ribbon on small screens
@media (max-width: 899px) {
  .github-fork-ribbon {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.15s, opacity 0.15s ease-out;
  }
}

h1 {
  font-weight: 300;
  margin: 0 variables.$base-spacing variables.$base-spacing * 2 variables.$base-spacing;
  font-size: 2rem;
}

h2 {
  font-weight: 300;
  margin: 0 variables.$base-spacing variables.$base-spacing * 2 variables.$base-spacing;
  font-size: 1.5rem;
}
