@use 'sass:color';
@use '../../style/variables.scss';

.password-generator {
  border-radius: variables.$base-spacing * 2;
  border: 1px solid variables.$input-edge;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05), 0px 2px 4px rgba(0, 0, 0, 0.07);
  display: flex;
  margin-bottom: variables.$base-spacing * 3;
  overflow: hidden;

  .password {
    align-items: center;
    background-color: variables.$input-background;
    border-bottom-left-radius: variables.$base-spacing * 2;
    border-top-left-radius: variables.$base-spacing * 2;
    border: none;
    color: variables.$ui-color;
    display: flex;
    flex-grow: 1;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    height: variables.$base-spacing * 4;
    min-width: 0;
    padding: 0 variables.$base-spacing * 1.5;
    transition: color 0.15s;

    &.loading {
      color: color.adjust(variables.$ui-color, $alpha: -0.54);
      transition: none;
    }

    &.error {
      color: variables.$ui-error-color;
    }
  }

  button {
    -webkit-tap-highlight-color: transparent;
    background-color: variables.$button-background;
    border-bottom: 1px dotted color.adjust(black, $alpha: -1);
    border-left: 1px solid color.adjust(variables.$button-color, $alpha: -0.5);
    border-right: 1px dotted color.adjust(black, $alpha: -1);
    border-top: 1px dotted color.adjust(black, $alpha: -1);
    border-radius: 0px;
    box-sizing: border-box;
    color: variables.$button-color;
    cursor: pointer;
    flex-shrink: 0;
    height: variables.$base-spacing * 4;
    outline: none;
    padding: #{variables.$base-spacing - 1px} #{variables.$base-spacing * 1.5 - 1px};
    transition: background-color 0.15s, color 0.15s, border-color 0.15s;
    user-select: none;
    width: variables.$base-spacing * 5;

    &:last-of-type {
      border-bottom-right-radius: variables.$base-spacing * 2;
      border-top-right-radius: variables.$base-spacing * 2;
    }

    &:disabled {
      background-color: variables.$button-disabled-background;
      cursor: default;
    }

    &:focus {
      outline: none;
    }

    @media (hover: hover) {
      &:hover:not(:disabled) {
        background-color: color.adjust(
          variables.$button-background,
          $lightness: -6%
        );
        color: color.adjust(variables.$button-color, $alpha: -0.1);
      }
    }

    &.focus-visible {
      background-color: color.adjust(
        variables.$button-background,
        $lightness: -9%
      );
      border: 1px dotted black;
      color: color.adjust(variables.$button-color, $alpha: -0.12);

      &:disabled {
        background-color: color.adjust(
          variables.$button-disabled-background,
          $lightness: -9%
        );
      }
    }

    &:active:not(:disabled) {
      background-color: color.adjust(
        variables.$button-background,
        $lightness: -12%
      );
      color: color.adjust(variables.$button-color, $alpha: -0.15);

      svg {
        transform: scale(0.85);
      }
    }

    svg {
      height: variables.$base-spacing * 2;
      transition: transform 0.1s;
      width: variables.$base-spacing * 2;
    }
  }
}
